<div>
    <p class="text-sm text-gray-500">This property editor is a Blazor component</p>
    <p class="tw-font-semibold">@_suggestionValue</p>
    <button class="btn btn-default" @onclick="GetSuggestions" @onclick:preventDefault="true">Give me suggestions</button>
</div>
