<div class="tw-flex tw-justify-between">
    <div>
        <h2>Latest #Umbraco Tweets</h2>
        <p>This is a Blazor component, showing the latest tweets with the hashtag #umbraco. Refreshes every 10 seconds</p>
    </div>
    <div>
        <AnimatedSpinner Show="Loading" />
    </div>
</div>
@if (HasSettings)
{
    <div class="tw-space-y-3 space-y-3">
        @foreach (var tweet in Tweets)
        {
            <div class="border tw-border shadow tw-shadow p-2 tw-p-2 bg-gray-50 tw-bg-gray-50">
                @tweet.Text
            </div>
        }
    </div>   
}
else
{
    <div class="prose prose-slate"> 
        <h3 class="font-semibold">Oh No!</h3>
        <p>Looks like you haven't added the Twitter API credentials in the appsettings.json.</p>
        <p>You will need to create a Twitter App via <a href="https://developer.twitter.com/en/portal/projects-and-apps">https://developer.twitter.com/en/portal/projects-and-apps</a></p>
    </div>
}