<div class="tw-flex tw-justify-between">
    <div>
        <h2>Latest #Umbraco Tweets</h2>
        <p>Showing the latest tweets with the hashtag #umbraco. Refreshes every 10 seconds</p>
    </div>
    <div>
        <AnimatedSpinner Show="Loading" />
    </div>
</div>

<div class="tw-space-y-3 space-y-3">
    @foreach (var tweet in Tweets)
    {
        <div class="border tw-border shadow tw-shadow p-2 tw-p-2 bg-gray-50 tw-bg-gray-50">
            @tweet.Text
            <div class="pt-1 tw-pt-1">
                @tweet.AuthorId
            </div>
        </div>
    }
</div>